@use '@angular/material' as mat;

// Definir el tema claro (light theme) con los colores personalizados
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  ),
));

// Definir el tema oscuro (dark theme) con los colores personalizados
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  ),
));

// Aplicar el tema claro por defecto
body {
  @include mat.all-component-themes($light-theme);
  background-color: #000; // Fondo claro por defecto
  color: #f0f8ff; // Texto claro por defecto
  font-family: 'Arial', sans-serif;
  overflow-y: scroll;
  position: relative;
  background-size: 400% 400%;
  animation: gradientBackground 20s ease infinite;
}

// Aplicar el tema oscuro cuando se aplique la clase .dark-theme
body.dark-theme {
  @include mat.all-component-colors($dark-theme);
  background-color: #000; // Fondo oscuro
  color: #ffffff; // Texto blanco
}

// Variables CSS para los cambios de color global
:root {
  --background-color: #ffffff; // Fondo claro por defecto
  --text-color: rgb(17, 17, 17); // Texto oscuro por defecto
}

.dark-theme {
  --background-color: rgb(39, 39, 39); // Fondo oscuro
  --text-color: #ffffff; // Texto blanco
}

:root {
  --wave-color-1: rgba(255, 255, 255, 0.7);
  --wave-color-2: rgba(255, 255, 255, 0.5);
  --wave-color-3: rgba(255, 255, 255, 0.3);
  --wave-color-4: #fff;
}

.dark-theme {
  --wave-color-1: rgba(39, 39, 39, 0.7);
  --wave-color-2: rgba(39, 39, 39, 0.5);
  --wave-color-3: rgba(39, 39, 39, 0.3);
  --wave-color-4: rgb(39, 39, 39);
}

// Estilos globales de color
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Reset de márgenes, padding, box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Establecer la altura mínima y flexbox para el diseño */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
}

/* Configura la altura mínima de .main-content */
.main-content {
  flex: 1;
  width: 100%;
  min-height: calc(100vh - 100px); /* 100px es una referencia aproximada del alto del footer */
}

/* Animación de fondo */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Aquí van los estilos de las ondas basados en el tema */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

/* Estilos para las ondas */
.waves .parallax use {

}

/* Colores de las ondas en modo oscuro */
body.dark-theme .waves .parallax use:nth-child(1) {
  fill: var(--wave-color-1);
}

body.dark-theme .waves .parallax use:nth-child(2) {
  fill: var(--wave-color-2);
}

body.dark-theme .waves .parallax use:nth-child(3) {
  fill: var(--wave-color-3);
}

body.dark-theme .waves .parallax use:nth-child(4) {
  fill: var(--wave-color-4);
}

/* Colores de las ondas en modo claro */
body:not(.dark-theme) .waves .parallax use:nth-child(1) {
  fill: var(--wave-color-1);
}

body:not(.dark-theme) .waves .parallax use:nth-child(2) {
  fill: var(--wave-color-2);
}

body:not(.dark-theme) .waves .parallax use:nth-child(3) {
  fill: var(--wave-color-3);
}

body:not(.dark-theme) .waves .parallax use:nth-child(4) {
  fill: var(--wave-color-4);
}

/* Donations */
:root {
  --background-color-light: white;
  --background-color-dark: rgb(30, 30, 30);

  --border-color-hover-light: #3399bb;
  --border-color-hover-dark: rgb(60, 60, 60);

  --border-color-details-light: #f0f0f0;
  --border-color-details-dark: rgb(60, 60, 60);
  --box-shadow-details-dark: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.dark-theme {
  --background-color-light: var(--background-color-dark);
  --border-color-hover-light: var(--border-color-hover-dark);
  --border-color-details-light: var(--border-color-details-dark);
  --box-shadow-details-light: var(--box-shadow-details-dark);
}

/* Donations Form */
:root {
  --background-color-form-light: #f9f9f9;
  --background-color-form-dark: rgb(60, 60, 60);
}

.dark-theme {
  --background-color-form-light: var(--background-color-form-dark);
}

/* Carrousel */
:root {
  /* Modo claro */
  --background-color-carrousel-light: #ffffff;
  --border-color-carrousel-light: #f0f0f0;

  /* Modo oscuro */
  --background-color-carrousel-dark: rgb(30, 30, 30);
  --border-color-carrousel-dark: rgb(60, 60, 60);
  --box-shadow-carrousel-dark: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.dark-theme {
  --background-color-carrousel-light: var(--background-color-carrousel-dark);
  --border-color-carrousel-light: var(--border-color-carrousel-dark);
  --box-shadow-carrousel-light: var(--box-shadow-carrousel-dark);
}

:root {
  /* Modo claro */
  --follow-btn-background-light: #e6f2ff;
  --follow-btn-border-light: #3399bb;
  --follow-btn-text-light: #3399bb;
  --follow-btn-hover-background-light: #b3d9e6;

  /* Modo oscuro */
  --follow-btn-background-dark: #4CAF50;
  --follow-btn-border-dark: #4CAF50;
  --follow-btn-text-dark: white;
  --follow-btn-hover-background-dark: #45a049;
}

.dark-theme {
  --follow-btn-background-light: var(--follow-btn-background-dark);
  --follow-btn-border-light: var(--follow-btn-border-dark);
  --follow-btn-text-light: var(--follow-btn-text-dark);
  --follow-btn-hover-background-light: var(--follow-btn-hover-background-dark);
}

:root {
  /* Modo claro */
  --submit-btn-background-light: #e6f2ff;
  --submit-btn-border-light: #3399bb;
  --submit-btn-text-light: #3399bb;
  --submit-btn-hover-background-light: #b3d9e6;

  /* Modo oscuro */
  --submit-btn-background-dark: #4CAF50;
  --submit-btn-border-dark: #4CAF50;
  --submit-btn-text-dark: white;
  --submit-btn-hover-background-dark: #45a049;
}

.dark-theme {
  --submit-btn-background-light: var(--submit-btn-background-dark);
  --submit-btn-border-light: var(--submit-btn-border-dark);
  --submit-btn-text-light: var(--submit-btn-text-dark);
  --submit-btn-hover-background-light: var(--submit-btn-hover-background-dark);
}