@use '@angular/material' as mat;
@include mat.core();

// Definir el tema claro (light theme) con los colores personalizados
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  ),
));

// Definir el tema oscuro (dark theme) con los colores personalizados
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  ),
));

:root {
  --dark-theme: dark;
  --light-theme: light;
}


// Aplicar el tema claro por defecto
body {
  @include mat.all-component-themes($light-theme);
  background-color: rgb(39, 39, 39); // Fondo claro por defecto
  color: #f0f8ff; // Texto claro por defecto
  font-family: 'Arial', sans-serif;
  overflow-y: scroll;
  position: relative;
  background-size: 400% 400%;
  animation: gradientBackground 20s ease infinite;
}


// Aplicar el tema oscuro cuando se aplique la clase .dark-theme
body.dark-theme {
  @include mat.all-component-colors($dark-theme);
  background-color: rgb(39, 39, 39); // Fondo oscuro
  color: #ffffff; // Texto blanco
}

// Variables CSS para los cambios de color global
:root {
  --background-color: #ffffff; // Fondo claro por defecto
  --text-color: rgb(17, 17, 17); // Texto oscuro por defecto
  --shadow-arrow: #f1f1f1;
}

.dark-theme {
  --background-color: rgb(39, 39, 39); // Fondo oscuro
  --text-color: #ffffff; // Texto blanco
  --shadow-arrow: #0e0e0e;
}

:root {
  --wave-color-1: rgba(255, 255, 255, 0.7);
  --wave-color-2: rgba(255, 255, 255, 0.5);
  --wave-color-3: rgba(255, 255, 255, 0.3);
  --wave-color-4: #fff;
}

.dark-theme {
  --wave-color-1: rgba(39, 39, 39, 0.7);
  --wave-color-2: rgba(39, 39, 39, 0.5);
  --wave-color-3: rgba(39, 39, 39, 0.3);
  --wave-color-4: rgb(39, 39, 39);
}

// Estilos globales de color
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Reset de márgenes, padding, box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Establecer la altura mínima y flexbox para el diseño */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
}

/* Configura la altura mínima de .main-content */
.main-content {
  flex: 1;
  width: 100%;
  min-height: calc(100vh - 100px); /* 100px es una referencia aproximada del alto del footer */
}

/* Animación de fondo */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Aquí van los estilos de las ondas basados en el tema */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

/* Estilos para las ondas */
.waves .parallax use {

}

/* Colores de las ondas en modo oscuro */
body.dark-theme .waves .parallax use:nth-child(1) {
  fill: var(--wave-color-1);
}

body.dark-theme .waves .parallax use:nth-child(2) {
  fill: var(--wave-color-2);
}

body.dark-theme .waves .parallax use:nth-child(3) {
  fill: var(--wave-color-3);
}

body.dark-theme .waves .parallax use:nth-child(4) {
  fill: var(--wave-color-4);
}

/* Colores de las ondas en modo claro */
body:not(.dark-theme) .waves .parallax use:nth-child(1) {
  fill: var(--wave-color-1);
}

body:not(.dark-theme) .waves .parallax use:nth-child(2) {
  fill: var(--wave-color-2);
}

body:not(.dark-theme) .waves .parallax use:nth-child(3) {
  fill: var(--wave-color-3);
}

body:not(.dark-theme) .waves .parallax use:nth-child(4) {
  fill: var(--wave-color-4);
}

/* Donations */
:root {
  --background-color-light: white;
  --background-color-dark: rgb(30, 30, 30);

  --border-color-hover-light: #3399bb;
  --border-color-hover-dark: rgb(60, 60, 60);
  --box-color-details-light:white;
  --box-color-details-dark:rgb(60, 60, 60);
  --border-color-details-light: #dddddd;
  --border-color-details-dark: rgb(60, 60, 60);
  --box-shadow-details-dark: 0 6px 12px rgba(0, 0, 0, 0.5);
  --color-hover-text-light: #3399bb;
  --color-hover-text-dark: #4CAF50;
  --color-donations-light: white;
  --color-donations-dark: rgb(44, 44, 44);

}

.dark-theme {
  --background-color-light: var(--background-color-dark);
  --border-color-hover-light: var(--border-color-hover-dark);
  --border-color-details-light: var(--border-color-details-dark);
  --box-shadow-details-light: var(--box-shadow-details-dark);
  --box-color-details-light: var(--box-color-details-dark);
  --color-hover-text-light: var(--color-hover-text-dark);
  --color-donations-light: var(--color-donations-dark);
}

/* Donations Form */
:root {
  --background-color-form-light: #f9f9f9;
  --background-color-form-dark: rgb(60, 60, 60);
  --foot-light: url('https://res.cloudinary.com/dyho1ydzl/image/upload/v1738812935/Logo_Minimal_L_opsvjd.png');
  --foot-dark: url('https://res.cloudinary.com/dyho1ydzl/image/upload/v1738812935/Logo_Minimal_D_cu47xd.png');
  --nav-light: url('https://res.cloudinary.com/dyho1ydzl/image/upload/v1738812935/Logo_Letras_L_xisypb.png');
  --nav-dark: url('https://res.cloudinary.com/dyho1ydzl/image/upload/v1738812935/Logo_Letras_D_yjbahc.png');
}

.dark-theme {
  --background-color-form-light: var(--background-color-form-dark);
  --nav-light: var(--nav-dark);
  --foot-light: var(--foot-dark);
}


/* Carrousel */
:root {
  /* Modo claro */
  --background-color-carrousel-light: #ffffff;
  --border-color-carrousel-light: #f0f0f0;

  /* Modo oscuro */
  --background-color-carrousel-dark: rgb(30, 30, 30);
  --border-color-carrousel-dark: rgb(60, 60, 60);
  --box-shadow-carrousel-dark: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.dark-theme {
  --background-color-carrousel-light: var(--background-color-carrousel-dark);
  --border-color-carrousel-light: var(--border-color-carrousel-dark);
  --box-shadow-carrousel-light: var(--box-shadow-carrousel-dark);
}

:root {
  /* Modo claro */
  --follow-btn-background-light: #e6f2ff;
  --follow-btn-border-light: #3399bb;
  --follow-btn-text-light: #3399bb;
  --follow-btn-hover-background-light: #b3d9e6;
  --btn-detail-light:#007bff;
  --btn-detail-hover-light:#0056b3;
  --txt-detail-light:#007bff;
  --border-cards-detail-light:#3399bb;
  /* Modo oscuro */
  --follow-btn-background-dark: #4CAF50;
  --follow-btn-border-dark: #4CAF50;
  --follow-btn-text-dark: white;
  --follow-btn-hover-background-dark: #45a049;
  --btn-detail-dark: #4CAF50;
  --btn-detail-hover-dark:#45a049;
  --txt-detail-dark:white;
  --border-cards-detail-dark:rgb(32, 32, 32);
}

.dark-theme {
  --follow-btn-background-light: var(--follow-btn-background-dark);
  --follow-btn-border-light: var(--follow-btn-border-dark);
  --follow-btn-text-light: var(--follow-btn-text-dark);
  --follow-btn-hover-background-light: var(--follow-btn-hover-background-dark);
  --btn-detail-light: var(--btn-detail-dark);
  --btn-detail-hover-light:var(--btn-detail-hover-dark);
  --txt-detail-light:var(--txt-detail-dark);
  --border-cards-detail-light:var(--border-cards-detail-dark);
}

:root {
  /* Modo claro */
  --submit-btn-background-light: #e6f2ff;
  --submit-btn-border-light: #3399bb;
  --submit-btn-text-light: #3399bb;
  --submit-btn-hover-background-light: #b3d9e6;

  /* Modo oscuro */
  --submit-btn-background-dark: #4CAF50;
  --submit-btn-border-dark: #4CAF50;
  --submit-btn-text-dark: white;
  --submit-btn-hover-background-dark: #45a049;
}


.dark-theme {
  --submit-btn-background-light: var(--submit-btn-background-dark);
  --submit-btn-border-light: var(--submit-btn-border-dark);
  --submit-btn-text-light: var(--submit-btn-text-dark);
  --submit-btn-hover-background-light: var(--submit-btn-hover-background-dark);
}

.my-custom-toggle {
  .mdc-switch__icon.mdc-switch__icon--off path {
    fill: rgb(255, 204, 0)!important;
    stroke: rgb(255, 204, 0); /* Color del borde */
    stroke-width: 2.2px; /* Grosor del borde */
  }
  .mdc-switch__icon.mdc-switch__icon--on path {
    fill: black !important;
  }

  // Agrega el ícono de sol
 /* Cambiar el icono cuando el switch está apagado */
 .mdc-switch__icon--off path {
  d: path("M12 4V2M12 22v-2M4 12H2M22 12h-2M5.6 5.6L4.2 4.2M19.8 19.8l-1.4-1.4M19.8 4.2l-1.4 1.4M5.6 18.4L4.2 19.8M12 8a4 4 0 1 1 0 8 4 4 0 0 1 0-8z");
}
/* Cambiar el icono cuando el switch está encendido */
.mdc-switch__icon--on path {
  d: path("M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1-8.313-12.454z");
}


  .mdc-switch__shadow {
    background-color: #ffffff; // Fondo gris cuando está desactivado
  }


  .mat-mdc-slide-toggle .mat-ripple {
    background-color: green;
  }

  /* Cambiar el color del focus indicator */
  .mat-mdc-slide-toggle .mat-mdc-focus-indicator::before {
    border-color: green;
  }

  /* Cambiar el color del hover */
  .mat-mdc-slide-toggle:hover .mat-ripple {
    background-color: green;
  }
  .mdc-switch__track::before{
    background-color: #9b9898 !important; // Verde cuando está activado
    border-color: #3a3a3a;
  }
  .mdc-switch__track::after{
    background-color: #4CAF50 !important; // Verde cuando está activado
    border-color: rgb(0, 255, 42);
  }
}
.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--btn-detail-light) !important;
}

:root {
  /* Modo claro */
  --google-btn-background-light: #ffffff;
  --google-btn-border-light: #747775;
  --google-btn-text-light: #1f1f1f;
  --google-btn-state-bg-light: #303030;
  --google-btn-hover-shadow-light: 0 1px 2px 0 rgba(60,64,67,0.30), 0 1px 3px 1px rgba(60,64,67,0.15);

  /* Modo oscuro */
  --google-btn-background-dark: #131314;
  --google-btn-border-dark: #8e918f;
  --google-btn-text-dark: #e3e3e3;
  --google-btn-state-bg-dark: white;
  --google-btn-hover-shadow-dark: 0 1px 2px 0 rgba(60,64,67,0.30), 0 1px 3px 1px rgba(60,64,67,0.15);
}

/* Activamos el modo oscuro reasignando las variables "light" */
.dark-theme {
  --google-btn-background-light: var(--google-btn-background-dark);
  --google-btn-border-light: var(--google-btn-border-dark);
  --google-btn-text-light: var(--google-btn-text-dark);
  --google-btn-state-bg-light: var(--google-btn-state-bg-dark);
  --google-btn-hover-shadow-light: var(--google-btn-hover-shadow-dark);
}
