<div class="header">
    <!-- Logo y título -->
    <div class="inner-header flex">
      <h1>¡Juntos, hacemos que las grandes ideas despeguen 🚀!</h1>
    </div>
  
    <!-- Contenedor de las ondas -->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s58 18 88 18 58-18 88-18 58 18 88 18v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
  </div>
  
  <!-- Nuevo contenedor para el título -->
  <div class="content-title">
    <h2 style="color: black;">Algunas de las Campañas Disponibles</h2>
  </div>
  
  <!-- Contenedor principal del contenido -->
  <div class="content">
    <div class="carousel-container">
        <div class="carousel-content" [style.transform]="carouselTransform">
          <div *ngFor="let entrepreneurship of entrepreneurships" class="carousel-slide">
            <a [routerLink]="['/entrepreneurships', entrepreneurship.id]" class="carousel-slide-link">
              <div class="carousel-slide-content">
                <!-- Imagen principal de la campaña -->
                <img *ngIf="entrepreneurship.images && entrepreneurship.images.length > 0" 
                     [src]="entrepreneurship.images[0]" 
                     alt="{{ entrepreneurship.name }}" />
                <img *ngIf="!entrepreneurship.images || entrepreneurship.images.length === 0" 
                     src="assets/placeholder-image.jpg" alt="Imagen no disponible" />
      
                <h3>{{ entrepreneurship.name }}</h3>
                <p>{{ entrepreneurship.description }}</p>
      
                <!-- Mostrar el objetivo financiero y el total recaudado -->
                <p><strong>Objetivo:</strong> ${{ entrepreneurship.goal }}</p>
                <p><strong>Recaudado:</strong> ${{ entrepreneurship.collected || 0 }}</p>
              </div>
            </a>
          </div>
        </div>
     
  
      <!-- Flechas para mover el slider -->
      <div class="carousel-arrow carousel-arrow-left" (click)="moveSlider('left')">
        <span>&lt;</span> <!-- Flecha izquierda -->
      </div>
      <div class="carousel-arrow carousel-arrow-right" (click)="moveSlider('right')">
        <span>&gt;</span> <!-- Flecha derecha -->
      </div>
    </div>
  
    <!-- Botón para ver más -->
    <button mat-button color="primary" [routerLink]="'/entrepreneurships'">
      Ver más
    </button>
  </div>
  