<h2>Lista de Usuarios</h2>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Fecha de Nacimiento</th>
      <th>Billetera</th>
      <th>Años de Experiencia</th>
      <th>Dirección</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.dateOfBirth }}</td>
      <td>{{ user.wallet }}</td>
      <td>{{ user.yearsOfExperience }}</td>
      <td *ngIf="user.address">
        <div>
          <span>{{ user.address.street }}, {{ user.address.number }}</span><br>
          <span>{{ user.address.locality }}, {{ user.address.province }}</span><br>
          <span>Tipo: {{ user.address.type }}</span>
        </div>
      </td>
      <td>
        <button (click)="editUser(user.id)">Editar</button>
        <button (click)="deleteUser(user.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>