
<p>{{activeUser?.username}}</p>

<!-- Botón para redirigir a la ruta de favoritos del usuario activo -->
<button (click)="goToFavorites()">Ir a favoritos</button>

<div *ngIf="donatedEntrepreneurships.length > 0; else noDonations">
    <h3>Emprendimientos en los que has donado:</h3>

 @for (entrepreneurship of donatedEntrepreneurships; track $index) {
  @for (item of donateds; track $index) {

    @if(item.idEntrepreneurship === entrepreneurship.id){
      <h4>Emprendimiento beneficiado: {{ entrepreneurship.name }}</h4>
      <h4>Monto donado: ${{item.amount}}</h4>
      <h4>Dia de la donacion: {{ item.date | date: 'dd/MM/yyyy' }}</h4>
      <button (click)="navigateToDetails(entrepreneurship.id)">Ver Emprendimiento</button>
    }
  }
 }
     </div>
  
  <ng-template #noDonations>
    <p>No has donado a ningún emprendimiento.</p>
  </ng-template>
  

