<div class="favorites-container">
  <div class="header">
    <h1>Lista de Favoritos</h1>
  </div>
  <div *ngIf="userFavorites.length === 0">
    <p class="no-favorite-message">No tienes emprendimientos en la lista de favoritos.</p>
  </div>
  <ul>
    <li *ngFor="let favorite of userFavorites">

        <h3>{{ favorite.name }}</h3>
        <p>{{ favorite.description }}</p>
        <button mat-button class="follow-btn" (click)="DeleteFavorites(favorite.id)" [disabled]="userType === 'Guest'">
          Eliminar
        </button>
    </li>
  </ul>
</div>
