/* Estilo para deshabilitar interacciones */
.disabled-content {
  pointer-events: none; /* Deshabilita clics y otras interacciones */
  opacity: 0.5; /* Opcional: reduce la opacidad para indicar que está deshabilitado */
}

/* Estilo para el overlay del spinner */
.global-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: auto; /* Permite interacciones con el spinner */
}

/* Estilo para el spinner */
mat-spinner {
  width: 10vw !important;
  height: 10vw !important;
  max-width: 100px;
  max-height: 100px;
  stroke: #FF5733;
}

/* Deshabilitar el scroll en el body */
body.no-scroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  mat-spinner {
    width: 20vw !important;
    height: 20vw !important;
  }
}

@media (max-width: 480px) {
  mat-spinner {
    width: 15vw !important;
    height: 15vw !important;
  }
}
