<div *ngIf="donatedEntrepreneurships.length > -1">
  <div class="donations-container">
    <div class="header">
      <h1>Mis Donaciones</h1>
      
    </div>
    <div *ngIf="donatedEntrepreneurships.length === 0">
      <p class="no-donations-message">No has donado a ningún emprendimiento.</p>
    </div>
    <ul>
      <li *ngFor="let entrepreneurship of donatedEntrepreneurships">
        <div class="donated-item">
          <h4 class="donated-item-title">Emprendimiento beneficiado: {{ entrepreneurship.name }}</h4>
          
          <div *ngFor="let item of donateds">
            <div *ngIf="item.idEntrepreneurship === entrepreneurship.id">
              <h4 class="donated-item-amount">Monto donado: ${{ item.amount }}</h4>
              <h4 class="donated-item-date">Día de la donación: {{ item.date | date: 'dd/MM/yyyy' }}</h4>
            </div>
          </div>
          
        </div>
      </li>
    </ul>
  </div>
</div>
