<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nombre</label>
    <input id="name" formControlName="name"type="text">
  </div>

  <div>
    <label for="surname">Apellido</label>
    <input id="surname" formControlName="surname"type="text">
  </div>

  <div>
    <label for="email">Correo electrónico</label>
    <input id="email" formControlName="email" type="email">
  </div>

  <div>
    <label for="dateOfBirth">Fecha de nacimiento</label>
    <input id="dateOfBirth" formControlName="dateOfBirth" type="date">
  </div>

  <div>
    <label for="wallet">Billetera</label>
    <input id="wallet" formControlName="wallet" type="text" >
  </div>

  <div>
    <label for="yearsOfExperience">Años de experiencia</label>
    <input id="yearsOfExperience" formControlName="yearsOfExperience" type="number">
  </div>

  <div>
    <label for="industry">Industria</label>
    <input id="industry" formControlName="industry" type="text">
  </div>

  <app-address-form (address)="onAddressAdded($event)"></app-address-form>

  <button type="submit" [disabled]="userForm.invalid || !isAddressFilled()">Guardar</button>
</form>
