<div *ngIf="entrepreneurship as currentEntrepreneurship">
    <h2>{{ currentEntrepreneurship.name }} - Detalles</h2>
  
    <!-- Detalles del emprendimiento -->
    <div class="entrepreneurship-details">
      <p><strong>Descripción:</strong> {{ currentEntrepreneurship.description }}</p>
      <p><strong>Objetivo Financiero:</strong> {{ currentEntrepreneurship.goal | currency }}</p>
      <p><strong>Categoría:</strong> {{ currentEntrepreneurship.category }}</p>
    </div>
  
    <!-- Formulario de Donación -->
    <app-donation-form-component (donationAdded)="onDonationAdded($event)"></app-donation-form-component>
  
    <!-- Lista de Donaciones -->

    <app-donation-list-component [entrepreneurshipId]="currentEntrepreneurship.id?.toString() ?? null"></app-donation-list-component>

  </div>