<div class="page-container">
  <form [formGroup]="entrepreneurshipForm" (ngSubmit)="addEntrepreneurship()">
    <!-- Nombre -->
    <label>
      Nombre:
      <input type="text" formControlName="name" required />
      <div *ngIf="entrepreneurshipForm.get('name')?.hasError('required') && entrepreneurshipForm.get('name')?.touched">
        <p>El nombre es requerido.</p>
      </div>
    </label>

<!-- Descripción -->
<label>
  Descripción:
  <textarea formControlName="description" rows="5" cols="50" required></textarea>

  <!-- Contenedor de errores -->
  <div>
    <!-- Error de campo requerido -->
    <div *ngIf="entrepreneurshipForm.get('description')?.hasError('required') && entrepreneurshipForm.get('description')?.touched">
      <p>La descripción es requerida.</p>
    </div>

    <!-- Error de longitud máxima -->
    <div *ngIf="entrepreneurshipForm.get('description')?.hasError('maxlength')">
      <p>
        Límite:
        {{ entrepreneurshipForm.get('description')?.errors?.['maxlength']?.actualLength }}/
        {{ entrepreneurshipForm.get('description')?.errors?.['maxlength']?.requiredLength }}
        caracteres
      </p>
    </div>
  </div>
</label>

   <!-- Objetivo financiero -->
   <label>
    Objetivo financiero:
    <input
    type="number"
    formControlName="goal"
    required
    min="20000"
    (focus)="clearZero()"
  />
    <div *ngIf="entrepreneurshipForm.get('goal')?.hasError('required') && entrepreneurshipForm.get('goal')?.touched">
      <p>El objetivo financiero es requerido.</p>
    </div>
    <div *ngIf="entrepreneurshipForm.get('goal')?.hasError('min') && entrepreneurshipForm.get('goal')?.touched">
      <p>El objetivo mínimo es $20,000 pesos.</p>
    </div>
  </label>

    <!-- Categoría -->
    <label>
      Categoría:
      <select formControlName="category" required>
        <option value="" disabled selected>Seleccione una categoría</option>
        <option value="Tecnologia">Tecnología</option>
        <option value="Salud">Salud</option>
        <option value="Educacion">Educación</option>
        <option value="Sostenibilidad">Sostenibilidad</option>
        <option value="Alimentacion">Alimentación</option>
      </select>
      <div *ngIf="entrepreneurshipForm.get('category')?.hasError('required') && entrepreneurshipForm.get('category')?.touched">
        <p>La categoría es requerida.</p>
      </div>
    </label>

    <app-upload-image (imagesUploaded)="onImagesUploaded($event)"></app-upload-image>
    <div formArrayName="images">
      <div *ngFor="let image of imagesArray.controls; let i = index">
        <img [src]="image.value" alt="Imagen seleccionada" class="video-preview" />
        <button type="button" (click)="removeImage(i)">Eliminar</button>
      </div>
    </div>

    <app-upload-video (videosUploaded)="onVideosUploaded($event)"></app-upload-video>
    <div formArrayName="videos">
      <div *ngFor="let video of videosArray.controls; let i = index">
        <video [src]="video.value" controls class="video-preview"></video>
        <button type="button" (click)="removeVideo(i)">Eliminar</button>
      </div>
    </div>

    <button type="submit" [disabled]="!entrepreneurshipForm.valid">
      Agregar Emprendimiento
    </button>
  </form>
</div>
