<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <fieldset>
    <legend class="form-title">Registrarse</legend>

    <section class="form-group">
      <label for="email">Correo electrónico</label>
      <input type="text" id="email" autocomplete="email" formControlName="email" class="input-field">
      <div *ngIf="form.controls['email'].touched">
        <span *ngIf="form.controls['email'].hasError('required')" class="error-msg">El email no puede permanecer vacío</span>
        <span *ngIf="form.controls['email'].hasError('email')" class="error-msg">El email no es válido</span>
      </div>
    </section>

    <section class="form-group">
      <label for="username">Nombre de Usuario</label>
      <input type="text" id="username" autocomplete="username" formControlName="username" class="input-field">
      <div *ngIf="form.controls['username'].touched">
        <span *ngIf="form.controls['username'].hasError('required')" class="error-msg">El nombre de usuario no puede permanecer vacío</span>
        <span *ngIf="form.controls['username'].hasError('minlength')" class="error-msg">El nombre de usuario es muy corto</span>
      </div>
    </section>

    <section class="form-group">
      <label for="password">Contraseña</label>
      <div class="password-container">
        <input #password type="password" id="password" formControlName="password" class="input-field">
        <button type="button" (click)="onRevealPassword(password)" class="eye-icon">👁️</button>
      </div>
      <div *ngIf="form.controls['password'].touched">
        <span *ngIf="form.controls['password'].hasError('required')" class="error-msg">La contraseña no puede permanecer vacía</span>
        <span *ngIf="form.controls['password'].hasError('minlength')" class="error-msg">La contraseña es muy corta</span>
      </div>
    </section>

    <button type="submit" [disabled]="form.invalid" class="submit-btn">Enviar</button>
  </fieldset>
</form>
