/* Reset de márgenes, padding, box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html, body {
  height: 100%;  /* Aseguramos que el html y el body ocupen el 100% de la altura */
}

body {
  background-color: #121212; /* Fondo oscuro */
  color: white; /* Texto blanco para contraste */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;  /* Habilitar scroll vertical */
  position: relative;
  background: linear-gradient(45deg,
    rgba(212, 175, 55, 0.4), /* dorado */
    rgba(192, 192, 192, 0.4), /* plateado */
    rgba(184, 115, 51, 0.4), /* cobre */
    rgba(255, 223, 0, 0.4), /* dorado brillante */
    rgba(221, 160, 221, 0.4) /* púrpura metálico */
  );
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}

/* Animación de fondo con gradiente dinámico */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
